* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont;
    background-color: #8A9A5B;
}

/* everything on page */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
    margin: 2em 5em;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 40px 20px;
}

body {
    margin: 8px
}

header {
    flex: 1;
    text-align: center;
    color: #674422;
    line-height: 1.7;
    letter-spacing: 1.2px;
}


a:link {
    color: #674422;
}
  
a:visited {
    color: #674422;
}

a:hover {
    color: #674422;
}

a:active {
    color: #674422;
}

hr {
    border-color: #674422;
}

/* images themselves */
#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

img {
    align-self: center;
    max-width: 300px;
    max-height: 340px;
    height: auto;
}

.gallery-image {
    cursor: pointer;
}

@media (min-width: 1024px) {
    #main-image {
        max-width: 600px;
        max-height: 540px;
        object-fit: contain;
    }
}

@media only screen and (max-width: 800px) {
    .photos {
      gap: 12px;
      margin: 0;
      padding: 0;
    }

    .photos > * {
      flex: 1 0 40%;
    }
}
