* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont;
    background-color: #3c4f34;
}

/* everything on page */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
    margin: 2em 5em;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 40px 20px;
}

header {
    flex: 1;
    text-align: center;
    color: #E9D3CD;
    line-height: 1.7;
    letter-spacing: 1.2px;
}

a:link {
    color: #E9D3CD;
}
  
a:visited {
    color: #E9D3CD;
}

a:hover {
    color: #E9D3CD;
}

a:active {
    color: #E9D3CD;
}

hr {
    border-color: #E9D3CD
}

/* images themselves */
#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

img {
    align-self: center;
    max-width: 300px;
    max-height: 340px;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .photos {
      gap: 12px;
      margin: 0;
      padding: 0;
    }

    .photos > * {
      flex: 1 0 40%;
    }
}

@media only screen and (max-width: 600px) {
    .photos > * {
      flex: 1 0 100%; /* Full width on very small screens */
    }
}